doctype
html
  head
    title Informatics PhD Unposter Session
    link(rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="/main.css")
  body
    != yield
