header
  .container-fluid
    .row
      .col-xs-3.col-sm-2
        a(href="//iugisa.tumblr.com")
          img.gisa-logo(src="img/gisa-logo-complete-red.png"
                        alt="GISA, the Graduate Informatics Student Association")
      .col-xs-9.col-sm-10
        h1 Informatics PhD UNposter Session

.container
  .row
    .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .signup
          img.flyer(src="img/unposter-gisa-web-compressed.jpg"
                    alt="Unposter session April 8 6pm in IMU Solarium")
      .content
        != partial('_content.md')
