header
  .container-fluid
    .row
      .col-xs-3.col-sm-2
        a(href="//iugisa.tumblr.com")
          img.gisa-logo(src="img/gisa-logo-complete-red.png"
                        alt="GISA, the Graduate Informatics Student Association")
      .col-xs-9.col-sm-10
        h1 Informatics PhD UNposter Session

.container
  .row
    .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      .banner
        h2 Signup deadline pushed back until April 2! Sign up now!
      .signup
        a(href="https://docs.google.com/forms/d/1UEAPZQTquaGi3T1Jmvu19UC6lcOb7Fu5Dlfmxs12RrA/viewform")
          img.flyer(src="img/sign-up-poster-web-resolution.jpg"
                    alt="Sign up to present")
          | Click to sign up to present an unposter
      .content
        != partial('content.md')
